* {
    outline: none !important;
}

body {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 100%;
    line-height: 1.5;
    color: #545454;
    overflow-x: hidden;
}

.container {
    max-width: 1294px;
}

h1,
h2,
h3 {
    font-family: 'Playlist';
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    color: #E895B5;
}

h1 {
    font-size: 50px;
    line-height: 1.5;
    color: #6B6F79;
}

h2 {
    font-size: 34px;
    line-height: 1.5;
    color: #6B6F79;
}

h4 {
    font-family: 'ITC Avant Garde Std Bk';
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    color: #E895B5;
}

p {
    margin-bottom: 0;
    font-size: 16px;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #E895B5;
}

a:hover {
    text-decoration: none;
    color: #545454;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
    color: #545454;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #545454;
    opacity: 1;
}

.form-control::placeholder {
    color: #545454;
    opacity: 1;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button,
a {
    outline: none !important;
}

img {
    border: 0 none;
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.arrow1 {
    margin-left: 25px;
}

.arrow1 {
    transition: -webkit-transform 1.4s ease 0s, transform 1.4s ease 0s;
}

.web-btn:hover .arrow1 {
    transform: translateX(10px);
    transform: translateX(10px);
}

.web-btn {
    font-weight: 600;
    font-size: 18px;
    padding: 12px 22px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 60px;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    justify-content: space-between;
    transition: backgroung 0.3s ease 0s, color 0.3s ease 0s;
    background: #E895B5;
    color: #fff;
    border-color: #E895B5;
    width: auto;
    white-space: nowrap;
}

.web-btn:hover {
    background: transparent;
    color: #E895B5;
}

.nav-bar-button {
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 8%);
    z-index: 1001;
    transition: backgroung 0.3s ease 0s, padding 0.3s ease 0s;
}

header.sticky {
    padding: 15px 0;
}

.navbar {
    padding: 0;
}

.navbar .header-logo {
    width: auto;
    height: 60px;
    transition: height 0.3s ease 0s;
}

header.sticky .navbar .header-logo {
    height: 50px;
}

.navbar-outer {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.navbar-outer .logo-main,
.mobile-social-links {
    display: none;
}

.navbar-outer .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-outer ul.navbar-nav li.nav-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #545454;
    transition: font-size 0.3s ease 0s;
    padding: 0 35px;
    position: relative;
}

.navbar-outer ul.navbar-nav li.nav-item:first-child {
    padding-left: 0;
}

.navbar-outer ul.navbar-nav li.nav-item:last-child {
    padding-right: 0;
}

header.sticky .navbar-outer ul.navbar-nav li.nav-item {
    font-size: 14px;
}

.navbar-outer ul.navbar-nav li.nav-item a {
    color: #545454;
    padding: 0.5rem 0;
    position: relative;
    transition: color .3s ease 0s;
}

.navbar-outer ul.navbar-nav li.nav-item a:hover {
    color: #E895B5;
}

.navbar-outer ul.navbar-nav li.nav-item.active>a {
    color: #E895B5;
}

.navbar-outer ul.navbar-nav>li.nav-item>a:before {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    background: #E895B5;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: width .3s ease 0s;
}

.navbar-outer ul.navbar-nav>li.nav-item.active>a:before {
    width: 100%;
}

.main-banner-section {
    margin-top: 130px;
}

.main-banner-inner {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 660px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-radius: 190px 30px 30px;
}

.main-margin {
    margin-top: 120px;
    margin-bottom: 120px;
}

.how-does-work h1 {
    text-align: center;
}

.top-heading-section p {
    text-align: center;
    padding: 15px 100px 0;
    font-size: 20px;
}

.how-does-work h2 {
    text-align: center;
    font-size: 50px;
    color: #E895B5;
    margin-top: 80px;
}

.how-it-works-outer {
    text-align: center;
}

.how-works-list {
    justify-content: center;
    margin-bottom: 50px;
}

.how-works-list li {
    padding: 0 15px;
}

.how-works-list-inner {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.how-works-list-inner .top-numbers {
    position: relative;
}

.how-works-list-inner .top-numbers h4 {
    font-size: 32px;
    border: 3px solid #E895B5;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.how-works-list-inner p {
    font-weight: 500;
    margin-top: 40px;
    line-height: 28px;
    max-width: 220px;
}

.bottom-journey-section {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    border-radius: 110px 0 0;
}

.property-journey-inner {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 740px;
}

.journey-inner-box {
    background: #fff;
    border-radius: 55px 8px 8px;
    width: 500px;
    padding: 40px;
    margin-left: 40px;
    box-shadow: 0 0 30px rgba(84, 84, 84, 16%);
}

.journey-inner-box h2 {
    margin-bottom: 30px;
}

.journey-inner-box p {
    margin-bottom: 35px;
}

footer.main-footer {
    background: #B1C2D2;
}

footer.main-footer p {
    text-align: center;
    padding: 36px 0;
    font-weight: 600;
    color: #fff;
}

.holly-story-section {
    margin-bottom: 150px;
    text-align: center;
}

.holly-story-section .holly-story-col {
    padding: 0 115px;
}

.holly-story-section span.quote-icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 40px;
}

.holly-story-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.holly-story-content {
    overflow: hidden;
    transition: height 0.3s ease 0s;
}

.holly-story-content p {
    text-align: left;
}

.holly-story-content p+p {
    margin-top: 15px;
}

.holly-story-link {
    margin-top: 30px;
    text-transform: uppercase;
}

.contact-main-section {
    display: -ms-flexbox;
    display: flex;
    margin: 260px 0 150px;
}

.contact-main-col {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.contact-main-wrapper {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 80%;
    background: #fff;
    border-radius: 80px 16px 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 16%);
    padding: 60px 130px;
    text-align: center;
}

.contact-main-wrapper h1 {
    margin: 20px 0;
}

.contact-main-wrapper h3 {
    font-size: 40px;
    color: #47BAAA;
    margin: 0 0 30px;
}

form.contactus-form {
    justify-content: center;
}

form.main-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

form .form-control {
    outline: none;
    box-shadow: none;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #545454;
}

form.main-form .form-control {
    background: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 22px 70px 22px 20px;
    height: auto;
}

form.main-form .form-group span.form-small-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 23px;
    width: 30px;
    text-align: center;
}

form.main-form textarea.form-control {
    padding: 22px 20px 45px;
    resize: none;
    overflow: auto;
    height: 220px;
}

form.main-form .form-group span.form-small-icon.textarea-icon {
    -webkit-transform: none;
    transform: none;
    top: auto;
    bottom: 18px;
    right: 18px;
}

form.main-form .web-btn {
    margin-top: 10px;
}

form label {
    font-family: 'Montserrat';
    font-weight: normal;
    color: #545454;
    margin: 0;
}

form.main-form label.error {
    font-weight: 500;
    font-size: 12px;
    color: #FF0000;
    position: absolute;
    left: 0;
    bottom: -22px;
}

@media (max-width: 1199.98px) {
    .navbar-outer ul.navbar-nav li.nav-item {
        padding: 0 30px;
    }
    .main-banner-inner {
        height: 560px;
    }
    .property-journey-inner {
        height: 550px;
    }
    h1 {
        font-size: 45px;
    }
    .contact-main-wrapper h3 {
        font-size: 35px;
    }
    .how-does-work h2 {
        font-size: 40px;
    }
    .contact-main-wrapper {
        padding: 60px 80px;
    }
}

@media (max-width: 991.98px) {
    .web-btn {
        font-size: 15px;
    }
    .nav-bar-button {
        display: block;
    }
    #blank-div {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1007;
        background: transparent;
        display: none;
    }
    #blank-div.display-blank-div {
        background: rgba(0, 0, 0, 35%);
        display: block;
    }
    .navbar-outer {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        background: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        transition: -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: 1015;
        box-shadow: none;
    }
    .navbar-outer.open-side-menu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        box-shadow: 0 3px 99px rgba(0, 0, 0, 16%);
    }
    .nav-bar-button {
        padding: 0 10px 0 0;
        background: transparent;
        border: 0 none;
        cursor: pointer;
        position: relative;
        z-index: 1010;
    }
    .nav-bar-button .toggler-icon {
        background: #B1C2D2;
        height: 4px;
        width: 31px;
        display: block;
        border-radius: 4px;
        transition: -webkit-transform 0.35s ease 0s, transform 0.35s ease 0s;
    }
    .nav-bar-button .toggler-icon+.toggler-icon {
        margin-top: 6px;
    }
    .nav-bar-button.close-menu-open .toggler-icon {
        background: #fff;
    }
    .nav-bar-button.close-menu-open .toggler-icon.toggle-icon-center {
        display: none;
    }
    .nav-bar-button.close-menu-open .toggler-icon.toggle-icon-top {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
    .nav-bar-button.close-menu-open .toggler-icon.toggle-icon-bottom {
        -webkit-transform: rotate(-47deg);
        transform: rotate(-47deg);
        margin-top: -4px;
    }
    .navbar-outer .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .navbar-outer .logo-main {
        display: block;
        padding: 25px 15px 25px 30px;
    }
    header.sticky .navbar .navbar-outer .logo-main .header-logo {
        height: 60px;
    }
    .navbar-outer ul.navbar-nav li.nav-item {
        padding: 0;
    }
    header.sticky .navbar-outer ul.navbar-nav li.nav-item {
        font-size: 16px;
    }
    .navbar-outer ul.navbar-nav li.nav-item a {
        padding: 15px 15px 15px 30px;
    }
    .navbar-outer ul.navbar-nav>li.nav-item>a:before {
        display: none;
    }
    .main-banner-inner {
        height: 450px;
    }
    .main-margin {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    .how-works-list-inner {
        margin-top: 60px;
    }
    .how-works-list-inner .top-numbers h4 {
        font-size: 26px;
        width: 70px;
        height: 50px;
    }
    .how-works-list-inner p {
        margin-top: 30px;
    }
    .journey-inner-box {
        width: 450px;
        padding: 35px;
    }
    .top-heading-section p {
        text-align: center;
        padding: 15px 50px 0;
        font-size: 18px;
    }
    .how-does-work h2 {
        margin-top: 60px;
        font-size: 30px;
    }
    .holly-story-section .holly-story-col {
        padding: 0 65px;
    }
    .how-works-list {
        margin-bottom: 30px;
    }
    .how-works-list-inner {
        margin-top: 40px;
    }
    .holly-story-section {
        margin-bottom: 100px;
    }
    .contact-main-section {
        margin: 210px 0 100px;
    }
    .contact-main-wrapper {
        padding: 50px;
    }
    .contact-main-wrapper h3 {
        font-size: 28px;
        letter-spacing: 1px;
    }
    form.main-form .form-control {
        padding: 18px 55px 18px 20px;
    }
    form.main-form .form-group span.form-small-icon {
        right: 12px;
    }
    form.main-form textarea.form-control {
        padding: 18px 20px 45px;
    }
    form.main-form .form-group span.form-small-icon.textarea-icon {
        bottom: 12px;
        right: 12px;
    }
}

@media (max-width: 767.98px) {
    p {
        margin-bottom: 0;
        font-size: 14px;
    }
    .web-btn {
        font-size: 13px;
        padding: 9px 15px;
    }
    header {
        padding: 20px 0;
    }
    header.sticky {
        padding: 10px 0;
    }
    .main-banner-section {
        margin-top: 118px;
    }
    .main-banner-inner {
        height: 380px;
        border-radius: 60px 10px 10px;
    }
    .main-margin {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    h1,
    h2 {
        font-size: 32px;
    }
    .how-works-list-inner {
        margin-top: 30px;
    }
    .how-works-list-inner .top-numbers h4 {
        font-size: 24px;
    }
    .how-works-list-inner p {
        margin-top: 21px;
        font-weight: 600;
    }
    .property-journey-inner {
        height: 480px;
    }
    .journey-inner-box {
        width: 400px;
    }
    .journey-inner-box h2 {
        margin-bottom: 20px;
    }
    .journey-inner-box p {
        font-weight: 600;
        margin-bottom: 25px;
    }
    footer.main-footer p {
        text-align: left;
        padding: 25px 0;
        font-weight: 500;
    }
    .top-heading-section p {
        padding: 15px 15px 0;
        font-size: 16px;
    }
    .how-does-work h2 {
        margin-top: 40px;
        font-size: 32px;
    }
    .holly-story-section span.quote-icon {
        margin-bottom: 30px;
    }
    .holly-story-section .holly-story-col {
        padding: 0 30px;
    }
    .holly-story-section {
        margin-bottom: 40px;
    }
    .contact-main-section {
        margin: 140px 0 40px;
    }
    .contact-main-wrapper {
        padding: 30px 28px;
        border-radius: 44px 8px 8px;
        max-width: 100%;
    }
    span.top-join-icon img {
        max-height: 49px;
    }
    .contact-main-wrapper h1 {
        margin: 15px 0;
    }
    .contact-main-wrapper h3 {
        font-size: 26px;
        margin: 0 0 20px;
    }
    form.main-form .form-group {
        margin-bottom: 25px;
    }
    form.main-form .form-control {
        font-size: 14px;
        font-weight: normal;
        padding: 16px 40px 16px 16px;
        border-radius: 8px;
    }
    form.main-form .form-group span.form-small-icon,
    form.main-form .form-group span.form-small-icon.textarea-icon {
        right: 6px;
    }
    form.main-form .form-group span.form-small-icon img {
        max-width: 17px;
        max-height: 21px;
    }
    form.main-form textarea.form-control {
        padding: 16px 16px 35px;
        height: 178px;
    }
    form.main-form .form-group span.form-small-icon.textarea-icon {
        bottom: 6px;
    }
    form.main-form label.error {
        font-weight: 500;
        font-size: 11px;
        bottom: -18px;
    }
}

@media (max-width: 575.98px) {
    .navbar-outer {
        width: 80%;
    }
}

@media (max-width: 479.98px) {
    .main-banner-inner {
        height: 260px;
    }
    .journey-inner-box {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
        padding: 35px 30px;
        border-radius: 45px 8px 8px;
    }
    .journey-inner-box h2 {
        font-size: 24px;
    }
    .bottom-journey-section {
        border-radius: 60px 0 0;
    }
    h1,
    h2 {
        font-size: 28px;
    }
    .top-heading-section p {
        padding: 15px 0 0;
        font-size: 14px;
    }
    .how-does-work h2 {
        font-size: 28px;
    }
    .how-works-list-inner p {
        max-width: 240px;
    }
    .holly-story-section .holly-story-col {
        padding: 0 15px;
    }
    .holly-story-link {
        margin-top: 25px;
    }
    .contact-main-wrapper h3 {
        font-size: 24px;
    }
}

@media (max-width: 375.98px) {
    .how-works-list-inner .top-numbers h4 {
        width: 55px;
        height: 50px;
        font-size: 20px;
    }
}